@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    font-family: "Alata", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcebf7;
}

header {
    background-color: #fff;
    height: 60px;
    color: #000;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header .logo img {
    height: 55px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
}

header nav ul li a:hover {
    color: #060640;
    font-weight: 600;
}

header nav ul li .btn {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: solid 1px #000;
}

main {
    display: grid;
    width: auto;
    justify-content: center;
    grid-template-areas: 
        "mapa1 mapa2"
        "historico historico"
        ;
    gap: 70px;
    padding: 50px;
    background-color: #dcebf7;
}

.container {
    width: 100%;
}

.mapa {
    width: 500px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    justify-content: flex-start;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.25);
}

.mapa img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.mapa .informacao {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    width: 30%;
    height: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20px;
    left: 20px;
}

.informacao h2 {
    font-size: 14px;
    margin: 5px 0;
}

.informacao h3 {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    margin: 5px 0;
}

.historico {
    width: auto;
    height: auto;
    background-color: #fff;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.25);
    grid-area: historico;
    border-radius: 10px;
    padding: 20px;
}

.historico table {
    width: 100%;
    border-collapse: collapse;
}

.historico th, .historico td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.historico th {
    background-color: #f2f2f2;
    font-weight: bold;
}
